body {
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  min-height: 400px;
  background-image: url("https://wallpaperaccess.com/download/4k-space-39607");
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: white;
}

output {
  color: #ffffff;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
}

.button-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #ffffff;
  font-size: 20px;
}

